/* Container for the main layout */
.main {
  display: flex;
 
  min-height: 100vh; /* Full height for the main layout */
}

.sidebar {
  width: 250px; /* Fixed width for sidebar */
  margin-right: 20px; /* Space between sidebar and content */
}

/* Main content container beside the sidebar */
.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 1200px; /* Max width for main content */
  width: 100%; /* Full width */
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}
.profile-content {
  flex: 1; /* Take up remaining space */
  max-width: calc(100% - 270px); /* Adjust for sidebar width */
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between grid items */
  object-fit: cover;
}

.user-profile, .password-management, .manage-users-section {
  border: 1px solid #ccc;
  padding: 20px; 
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Override for Password Management box */
.password-management {
  flex: 2; /* Makes it take up twice the space of the other boxes */
  min-width: 600px; /* Sets a minimum width for larger sizing */
  min-height: 90px;
}

.manage-users-section {
  flex: 2; /* Makes it take up twice the space of the other boxes */
  min-width: 250px; /* Sets a minimum width for larger sizing */
}


.user-profile-image img {
  width: 100%;
  height: auto; /* Keep height responsive */
  object-fit: cover;
  display: block;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container input {
  flex: 1;
  margin-right: 10px;
}

.input-container i {
  font-size: 1.2rem;
}

h2 {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #F0E68C;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #F0E68C;
}

.suspendButton {
  margin-right: 10px;
}
